body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

p {
  color: #666;
  margin-bottom: 10px;
}

h2 {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Estilos adicionais */
.project-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.project-option {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.project-option a {
  text-decoration: none;
  color: #333;
}

.project-option a:hover {
  color: #666;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilos da seção de contato */
.contact-section {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translate(-20px, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.contact-section p {
  margin-bottom: 5px;
  font-size: 14px;
}

.contact-section a {
  color: #333;
}

.contact-section a:hover {
  color: #666;
}
